* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --base-color: 194;
  --bg-color: hsla(240, 5%, 7%, 0.89);
  --bg-controls-color: hsla(var(--base-color), 100%, 63%, 0.13);
  --text-color: white;
  --buttons-color: hsl(var(--base-color), 100%, 63%);
}

body {
  background: var(--bg-color);
  color: var(--text-color);

  font-family: "Roboto", sans-serif;
  display: grid;
  min-height: 100vh;
}

main {
  align-self: end;
  justify-self: center;
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0 4rem 3.2rem 0;
}

#timer {
  font-size: clamp(4rem, 4rem + 10vh, 8.8rem);

  display: flex;

  margin-bottom: 1.6rem;
}

.hide {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button svg {
  width: clamp(3.2rem, 2rem + 12vh, 6.4rem);
}

#controls {
  background-color: var(--bg-controls-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  border-radius: 9999px;

  width: clamp(10rem, 10rem + 30vh, 22.8rem);
  height: clamp(8rem, 5rem + 10vh, 10.8rem);
}

.play svg path,
.set svg path,
.sound-on svg path,
.sound-off svg path {
  fill: var(--buttons-color);
}
